<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css"/>

	<script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>
  <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
  <script th:src="@{/js/maestro/alerta.js}"></script>
  <script th:src="@{/js/maestro/selects.js}"></script>

	<title>PRODEP</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" th:href="@{/}">PRODEP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" th:href="@{/}" aria-current="page" href="#">Inicio</a>
          <a class="nav-link" href="#">Plazas</a>
          <a class="nav-link" href="#">Becas</a>
        </div>
      </div>
    </div>
  </nav>
<div class="col-12">
        <!---------HEADER>-------------->
        <div class="col-12">
            <img class="rounded mx-auto d-block" width=100% src="http://localhost/img/headerith.png">
        </div>
    </div>
<div class="jumbotron text-center">
  <h1 th:text="${nombre}" class="display-4">Rubro</h1>
  <p class="lead">Consulta de documentos</p>
  <hr class="my-4">

  <div class="alert alert-success alertaSubida" role="alert" th:if="${#httpServletRequest.getParameter('subida') == 'OK'}">
    ¡Se ha subido el documento con éxito!
  </div>
  <div class="alert alert-danger alertaSubida" role="alert" th:text="${#httpServletRequest.getParameter('mensajeError')}" th:if="${#httpServletRequest.getParameter('subida') == 'ERROR'}">
    Hubo un error al subir el documento.
  </div>

  <!-- Mensajes de eliminación -->
  <div class="alert alert-success alertaSubida" role="alert" th:if="${#httpServletRequest.getParameter('delete') == 'OK'}">
    Se ha eliminado el archivo con éxito.
  </div>
  <div class="alert alert-danger alertaSubida" role="alert" th:text="${#httpServletRequest.getParameter('mensajeError')}" th:if="${#httpServletRequest.getParameter('delete') == 'ERROR'}">
    Se ha eliminado el archivo con éxito.
  </div>

  <p>Nota: Sólo se necesita un documento para comprobar el rubro</p>
</div>

<div id="FormUl" class="container">
  <!-- <div th:each="comprobar : ${comprobar}">
    <h6>Documento: </h6>
    <p th:text="${comprobar.docAprob}"></p>
    <h6>Condiciones: </h6>
    <p th:text="${comprobar.condicion}"></p>
    <p th:text="${comprobar.condicion2}"></p>
    <p th:text="${comprobar.condicion3}"></p>
    <p th:text="${comprobar.condicion4}"></p>
    <p th:text="${comprobar.condicion5}"></p>
  </div> -->
  <div th:utext="${info}"> <!-- Aqui va la info de la forma de comprobar -->

  </div>

  <br>


  <div class="card text-center" th:if="${comprobacion != null}">
    <div class="card-header">
      <h4>
        Documento subido
      </h4>
    </div>
    <div class="card-body">
      <p class="card-text">
        <div class="table-responsive">
          <table class="table align-middle">
            <thead>
              <tr>
                <th scope="col">Fecha de subida</th>
                <th scope="col">Documento</th>
                <th scope="col">Estado</th>
                <th scope="col">Última revisión</th>
                <th scope="col">Comentario</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td th:text="${#dates.format(comprobacion.fecha, 'dd-MM-yyyy HH:mm')}">20/11/2021 21:30</td>
                <td>
                  <a href="#" th:href="@{/documentos/} + ${comprobacion.id_comp}" th:text="${comprobacion.doc_name}" target="_blank">doc</a>
                </td>
                <td th:switch="${comprobacion.estado}">
                  <div th:case="1" class="badge bg-warning">En Revisión</div>
                  <div th:case="2" class="badge bg-danger">Rechazado</div>
                  <div th:case="3" class="badge bg-success">Aceptado</div>
                  <div th:case="*" class="badge bg-secondary">Error</div>
                </td>
                <td th:text="${#dates.format(comprobacion.ultima_revision, 'dd-MM-yyyy HH:mm')}">20/11/2021 21:30</td>
                <td th:text="${comprobacion.comentario}">Comentario</td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </p>
      <form th:action="@{/comprobar/delete}" th:method="post" th:if="${comprobacion.estado != 3}">
        <input type="hidden" name="id_comp" th:value="${comprobacion.id_comp}">
        <input type="hidden" name="id_fc" th:value="${id}">
        <button class="btn btn-danger" type="submit">Cancelar subida</button>
      </form>
      
    </div>
  </div>
  <div class="para_subir" th:unless="${comprobacion != null}">
    <!-- Botón para mostrar form de archivo. -->
    <div class="text-center">
      <p class="lead">
          <a class="btn btn-primary btn-lg" type="buttom" role="button" onclick="document.getElementById('SubirBtn').style.display='block'">Subir Archivo</a>
      </p> 
    </div>

    <!-- Para subir un archivo. -->
    <div id="SubirBtn" class="row" style="display: none;">
      <div class="offset-xl-3 col-xl-6 py-5">
        <div class="card">
          <div class="card-header">Sube tu archivo</div>
          <div class="card-body">
            <form action="/upload" th:attr="action=@{/comprobar/upload}" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="file">Archivo a subir</label>
                <input type="file" class="form-control form-control-file" name="file" required>

                <br>
                <!-- <select id="selectPeriodo" class="form-select form-select-sm" aria-label=".form-select-sm example">
                  <option selected>Selecciona un período</option>
                </select>
                <br> -->
                <input type="hidden" class="form-control sr-only" name="id_fc" th:value="${id}" readonly required>
              </div>
              <div class="py-3">
                    <button class="btn btn-primary" type="submit" value="Cargar">Subir</button>
              </div>
              <div class="wrapper mt-5" style="display: none;">
                <div class="progress progress_wrapper">
                  <div class="progress-bar progress-bar-striped bg-info progress-bar-animated progress-bar" role="progressbar" style="width: 0%;">0%</div>
                </div>
              </div>
            </form>
            <div class="wrapper_files"></div>
          </div>
        <div class="card-footer text-center">
        <small class="text-muted">aún en pruebas</small>
        </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

</div>
	<footer class="bg-secondary text-white">
    <div class="container-fluid">
      <div class="row">
        <div  class="col-md-8">
          <h6>Proyecto PRODEP</h6>
          <p>Esta página es un módulo parte de un proyecto por estudiantes de ingenieria en sistemas computacionales del Tecnológico Nacional de México Campus Hermosillo</p>
        </div>
        <div class="col-md-4">
          <h6>Contacto</h6>
          <p>Minjares Leonardo
          <br/>leonardodominguez054@gmail.com
          <br/>+ 662 2 24 77 23
          </p>
          </div>
          </div>
          <div class="text-center">© 2021 PRODEP. Pagina Creada para el ITH
        </div>
        </div>
        </footer>
</body>
</html>